body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.contenedor {
    width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    height: 200vw;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 20px 20px 0px 0px;
    box-shadow: 5px 5px 20px #000;
    position: relative; left: 300px;
}
input[type="text"], button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
.resultado {
    margin-top: 10px;
    font-weight: bold;
}
.contenedor2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }